@use 'sass:math';
@use 'variables' as v;

//From px to REM
@function toRem($value) {
    $remValue: math.div($value, 16) + rem; 
    @return $remValue;
}


@function f-bold($key, $bold){
    @if $key{
        $f-family: map-get(v.$f-bold, $key);
        $f-weight: map-get($f-family, $bold);

        @return $f-weight;
        
    } @else {
        $f-family: map-get(v.$f-bold, primary);
        $f-weight: map-get(v-$f-bold, $bold);

        @return $f-weight;
    }

}