// ****************
// FONTS
// ****************
$f-primary: 'Montserrat', sans-serif;
$f-secundary: 'Mulish', sans-serif;

$f-base-size: 1rem;

$f-bold: (
    primary: (
        'light': 500,
        'medium': 600,
        'bold': 700
    ),

    secundary: (
        'light': 400,
        'medium': 700,
        'bold': 800
    )
);


// ****************
// COLORS
// ****************
$c-veryLightGray: #F2F2F2;
$c-lightGray: #BDBDBD;
$c-lightRed: #EB5757;
$c-darkRed: #ff385c;
$c-darkGray: #828282;
$c-dark: #4F4F4F;
$c-veryDark: #333333;